<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,width=device-width">
    <meta name="theme-color" content="#fff">
    <title>vgtown</title>

    <!--4 제이쿼리-->
    <script type="text/javascript" src="/assets/web/jquery/jquery-1.12.0.min.js"></script>

    <link href="/assets/web/css/nav/nav_level1.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    {% include 'web/nav/nav_level1.html' %}

  </body>
</html>
